*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: azure;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.container{
  border: 2px solid black;
  border-radius: 10px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn{
  padding: 13px;
  font-size: 20px;
  background-color: cornflowerblue;
  border-radius: 10px;
  margin-top: 20px;
  cursor: "pointer"
}

#author{
  align-self: flex-end;
  padding-right: 50px;
  font-style: italic;
}